
main
{margin: auto;
 width: 800px;
 height: 500px;
border: 1px solid black;}

.green
{width: 50%;
height: 200px;
border: 1px solid black;
background-color: green;}

.blue
{width: 50%;
height: 200px;
border: 1px solid black;
background-color: blue;
float: right;}

.grey
{width: 33.3%;
height: 300px;
border: 1px solid black;
background-color: grey;}








